@font-face {
  font-family: "playball";
  src: url(../fonts/Playball-Regular.ttf) format("truetype");
}
.m-p-0 {
  margin: 0;
  padding: 0;
}

section,
footer {
  padding: 2em 2.5em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 8px 14px;
  margin: 0 10px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

.title {
  margin: 0 0 1em 0 !important;
  font-size: 5vw;
}

.pic {
  max-width: 100%;
  height: auto;
  margin-bottom: 1vw;
}

.portfolio-item {
  flex-direction: column;
  margin-bottom: 7vw;
}

.hidden {
  display: none;
}

.height-30 {
  height: 35em;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

i {
  font-size: 1.5em !important;
}

body {
  font-family: "playball";
  letter-spacing: 2px;
  margin: 0;
  padding: 3em 0 0 0;
  box-sizing: border-box;
  height: 200em;
}

header {
  background-color: #fff;
  height: 3em;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #000;
}
header nav {
  justify-content: space-between !important;
  padding: 0 6vw;
}
header nav ul {
  display: none;
}

.home {
  border-bottom: 1px solid #000;
}
.home .intro-container {
  flex-direction: column;
}
.home .intro-container .intro-container-pic {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.home .intro-container .intro-container-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.home .intro-container .intro-conrainer-info {
  margin-bottom: 25px;
  flex-direction: column !important;
}
.home .intro-container .intro-container-social-nav {
  width: 14em;
  margin-bottom: 40px;
}
.home .intro-container .intro-container-social-nav a li i:hover {
  transform: scale(1.2);
  transition: all ease 0.3s;
}
.home .intro-container .intro-container-social-nav .tel:hover {
  color: #21A5FF;
}
.home .intro-container .intro-container-social-nav .insta:hover {
  color: #e4026f;
}
.home .intro-container .intro-container-social-nav .linkedin:hover {
  color: #0A66C2;
}
.home .intro-container .intro-container-social-nav .git:hover {
  color: #9c6feb;
}
.home .intro-container .intro-container-social-nav .mail:hover {
  color: #ec4d9a;
}

.about {
  flex-direction: column !important;
  justify-content: space-around !important;
  align-items: start !important;
  border-bottom: 1px solid #000;
}
.about .about-info p {
  font-size: 5vw;
  padding-right: 4vw;
}
.about ul {
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: start;
}
.about .bio-items {
  width: 72vw;
  justify-content: space-between;
}
.about .bio-items ul li {
  margin: 4px 0;
  font-size: 5vw;
}
.about .bio-items .value i {
  font-size: 1em !important;
  padding-right: 10px;
}

.skill-interest {
  flex-direction: column !important;
  justify-content: space-between;
  align-items: flex-start !important;
  border-bottom: 1px solid #000;
}
.skill-interest .skill {
  flex-direction: column !important;
  height: 35vw;
  justify-content: space-between;
  align-items: flex-start;
}
.skill-interest .skill ul li {
  font-size: 4.5vw;
  margin-right: 2vw;
}
.skill-interest .interest {
  margin-top: 8vw;
  flex-direction: column !important;
  justify-content: space-evenly !important;
  align-items: flex-start;
  height: 40vw;
}
.skill-interest .interest ul {
  height: 100% !important;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.skill-interest .interest ul li {
  font-size: 4.5vw;
}

.experience-education {
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #000;
}
.experience-education h4 {
  margin: 0;
}
.experience-education .experience {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8vw;
}
.experience-education .experience h4 {
  font-size: 4vw;
}
.experience-education .experience span {
  font-size: 3.5vw;
}
.experience-education .education {
  flex-direction: column;
  align-items: flex-start;
}
.experience-education .education h4 {
  font-size: 4vw;
}
.experience-education .education span {
  font-size: 3.5vw;
}

.portfolio {
  border-bottom: 1px solid #000;
}
.portfolio .portfolio-container {
  flex-direction: column;
}
.portfolio h4 {
  font-size: 4vw;
}
.portfolio p {
  font-size: 3.5vw;
}

.contact {
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #000;
}
.contact form {
  flex-direction: column;
  margin-bottom: 10vw;
  width: 100%;
}
.contact form input,
.contact form textarea {
  width: 90%;
  height: 40px;
  padding: 15px 15px;
  border: 0;
  font-size: 9pt;
  font-weight: 700;
  letter-spacing: 1pt;
  border-bottom: 1px solid #000;
  resize: none;
}
.contact form button {
  width: 100%;
  height: 40px;
  padding: 15px 15px;
}
.contact .contact-form-container {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.contact .contact-info {
  flex-direction: column;
  align-items: flex-start;
}

.footer-container {
  flex-direction: column;
  text-align: center;
}/*# sourceMappingURL=main.css.map */