@media (min-width: 576px) {
    .header-nav a i{
        display: none;
    }
    .item-menu{
        display: flex;
        width: 20em !important;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}